@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');
section {
  padding: 50px 0;
}
:active,
:focus {
  outline: none;
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
img {
  max-width: 100%;
}
main {
  overflow: hidden;
}
html {
  margin-top: 0 !important;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background: transparent;
}
input[type='checkbox'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='radio'],
input[type='text'],
input[type='tel'],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: Lato, sans-serif;
}
.container {
  margin: 0 auto;
}
@media screen and (min-width: 0px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1270px;
  }
}
.header {
  background-color: #326e91;
  /* background: linear-gradient(90deg, #fff 26%, #326e91 26%); */
  background: linear-gradient(90deg, #fff calc(26% + 50px), #326e91 26%);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo__parent {
}
.header__logo {
  margin-right: 72px;
}
.header__nav {
  padding: 26px 0;
  display: flex;
}

.header__nav .menu--desktop {
  display: flex;
}
.menu--desktop li {
  margin-left: 50px;
}
.menu--desktop a {
  font-weight: 700;
  color: #fff;
}
/* .menu a:hover {
  border-bottom: 1px solid #fff;
} */
.menu--desktop a::after {
  margin-top: 5px;
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
}

.menu--desktop .current-menu-item a::after {
  width: 100%;
}
.menu--desktop a:hover::after {
  width: 100%;
}

.banner {
  background-color: #326e91;
  position: relative;
  height: calc(70vh + 50px);
  padding: 0;
}
.banner img {
  position: relative;
  height: 100%;
  max-width: fit-content;
}
.banner__content {
  z-index: 2;
  background: #fff;
  color: rgba(0, 0, 0, 50%);
  padding: 100px;
  max-width: calc(100% - 62% + 30px);
  position: absolute;
  right: calc(100% - 90% + 30px);
  top: 50%;
  transform: translateY(-50%);
  -webkit-box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.12);
}
.banner__content::before {
  content: '';
  background-color: rgba(112, 174, 215, 80%);
  position: absolute;
  top: 0;
  left: -140px;
  width: 140px;
  height: 100%;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.banner__content p {
  font-size: 32px;
  font-weight: 300;
}
strong {
  font-weight: 700;
  color: #326e91;
}
.button {
  padding: 36px 80px;
  color: #fff;
  font-size: 14px;
}
.banner__content .button {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  -webkit-box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.16);
}
.button--blue {
  background-color: #70aed7;
}
.title {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 50px;
}
.title--blue {
  color: #70aed7;
}
.flex {
  display: flex;
}
.services__box {
  display: block;
  width: 25%;
  padding: 50px;
  text-align: center;
}
.services__box:nth-child(odd) {
  background-color: #fff;
}
.services__box:nth-child(even) {
  background-color: #fafafa;
}
.box__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.box__content::after {
  content: url('../img/arrow.svg');
  visibility: hidden;
  margin-top: 20px;
}
.box__content:hover {
  border: 1px solid #70aed7;
}
.box__content:hover::after {
  visibility: visible;
}
.box__icon {
  margin-bottom: 20px;
  height: 60px;
}

.pattern__parent {
  position: relative;
}
.pattern__parent--right::after {
  content: '';
  background: url(../img/pattern.svg) repeat;
  top: 0;
  bottom: 0;
  right: -50%;
  position: absolute;
  z-index: -1;
  width: 50vw;
  transform: translateY(10%);
  height: 50vh;
}
.pattern__parent--left::after {
  content: '';
  background: url(../img/pattern.svg) repeat;
  top: 0;
  bottom: 0;
  left: -50%;
  position: absolute;
  z-index: -1;
  width: 50vw;
  transform: translateY(10%);
  height: 50vh;
}
.cooperation .flex {
  justify-content: space-between;
}
.cooperation__box {
  width: 30%;
  text-align: center;
}
.cooperation__box__heading {
  height: 140px;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px;
  margin-bottom: 45px;
}
.cooperation__box__heading::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #70aed7;
  opacity: 0.7;
}
.cooperation__box__heading p {
  z-index: 2;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.cooperation__box__description {
  padding: 0 30px;
}
.cooperation__box__description p {
  color: #326e91;
}

.footer {
  background-color: #3d4654;
  padding-top: 50px;
  color: #fff;
}
.footer__top {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.title--small {
  font-size: 1rem;
  color: #acacac;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.title--white {
  color: #fff;
}
.footer__data {
  background: #70aed7;
  padding-left: 30px;
  padding: 26px 0 26px 38px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.footer__data::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 100%;
  background: #70aed7;
}
.footer__top a {
  align-items: center;
  display: flex;
  font-weight: 700;
}

.footer__top a img {
  max-width: 40px;
  margin-right: 20px;
}

.footer__top .line {
  width: 1px;
  height: 40px;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 40px;
}

.footer__author {
  padding: 30px 0;
  color: #000;
  background-color: #fff;
}
.footer__author .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--mobile {
  display: none;
}

.references__carousel {
  padding: 0 300px;
  text-align: center;
  color: rgba(0, 0, 0, 49%);
}

.references__carousel p {
  text-align: center;
}
.references__quote {
  font-style: italic;
}
.references__company {
  color: #326e91;
  font-weight: bold;
  margin: 7px 0 30px 0;
}
.references__author {
  margin: 35px 0;
}
.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 25%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 25%;
  right: -25px;
  display: block !important;
  border: 0px solid black;
}
.owl-prev i,
.owl-next i {
  transform: scale(1, 6);
  color: #ccc;
}
#references__owl .owl-item img {
  width: auto;
  display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid #70aed7;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #326e91 !important;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent;
}

#benefits__owl .owl-nav div {
  margin-top: -25%;
}
#benefits__owl .owl-dots {
  display: none;
}
.benefits__carousel {
  display: flex;
}
.benefits__image {
  max-width: 50%;
}
.benefits__number span {
  color: #f0f0f0;
  position: absolute;
  right: 30%;
  font-size: 20rem;
  font-weight: 300;
  z-index: -1;
}
.benefits__description {
  position: absolute;
  top: 30%;
  right: 0px;
  width: 300px;
}
.benefits__heading {
  font-size: 18px;
  font-weight: 700;
  color: #3d4654;
  margin-bottom: 10px;
}
.benefits__description p {
  color: #326e91;
}
#benefits__owl .owl-nav {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 50%;
  height: 110px;
}
#benefits__owl .owl-prev {
  width: 15px;
  height: 100px;
  position: relative;
  top: 0;
  margin-left: 0;
  display: inline-block !important;
  border: 0px solid black;
  width: 90px;
}
#benefits__owl .line {
  background-color: #000;
  width: 1px;
  height: 70px;
  margin: 0;
  position: absolute;
  right: 0px;
  transform: translateY(-30%);
}
#benefits__owl .owl-next {
  width: 15px;
  height: 100px;
  position: relative;
  top: 0;
  right: 0;
  display: inline-block !important;
  border: 0px solid black;
  width: 90px;
}
#benefits__owl .owl-prev i,
#benefits__owl .owl-next i {
  transform: scale(1, 6);
  color: #ccc;
}
.footer form input::placeholder,
.footer form textarea::placeholder {
  color: #fff;
}
.footer form input[type='email'],
.footer form input[type='text'],
.footer form input[type='tel'],
.footer form textarea {
  border: 1px solid #70aed7;
  background-color: transparent;
  width: 100%;
  padding: 12px 30px;
  color: #fff;
  font-size: 14px;
}
.footer form input[type='checkbox'] {
  width: 33px;
  height: 30px;
  background-color: #fafafa;
  margin-right: 20px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}
input[type='checkbox']:after {
  content: '';
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
}

input[type='checkbox']:hover:after,
input[type='checkbox']:checked:hover:after {
  background: #5f95fc;
}

input[type='checkbox']:checked:after {
  background: #5f95fc;
}

.form__flex {
  display: flex;
  justify-content: space-between;
}
.form__group--1,
.form__group--2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 50px);
}
.footer form span {
  font-size: 14px;
  display: block;
  width: 100%;
}
.footer form .terms {
  display: flex;
  align-items: center;
}
.footer form .terms span {
  display: inline;
}
.footer textarea {
  resize: none;
}
.footer textarea::placeholder {
  font-style: italic;
}
.footer .form__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__button input[type='submit'] {
  font-size: 21px;
  font-weight: 700;
  background: #70aed7;
  padding: 20px 80px;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.footer form .wpcf7-acceptance label {
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.footer form {
  margin-bottom: 40px;
}
@media (max-width: 990px) {
  .header__nav .menu--desktop {
    display: none;
  }
  .show-mobile {
    display: initial;
  }

  .hamburger {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .hamburger:focus > .hamburger__container {
    box-shadow: 0 0 2px 2px #51a7e8;
  }

  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
  }

  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: transform 220ms ease-in-out;
  }
  .hamburger__bars:before,
  .hamburger__bars:after {
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #fff;
    content: '';
  }
  .hamburger__bars:before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  }
  .hamburger__bars:after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
  }

  .hamburger--active .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out;
  }
  .hamburger--active .hamburger__bars:before {
    top: 0;
    transition: top 100ms ease-out;
  }
  .hamburger--active .hamburger__bars:after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
  }

  .hamburger:focus,
  .hamburger__container:focus {
    outline: none;
  }
  .menu--mobile .menu-item {
    display: block;
    text-align: center;
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #326e91;
    margin: 0;
  }
  #mobile-menu {
    position: absolute;
    left: 0;
    top: 82px;
    width: 100%;
    z-index: 999;
  }
  .banner {
    height: auto;
  }
  .banner img {
    max-height: 70vh;
    width: 100%;
  }
  .banner__content {
    transform: none;
    width: 100%;
    max-width: 100%;
    position: relative;
    top: auto;
    right: auto;
    padding: 60px 20px;
    margin-bottom: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .banner__content p {
    font-size: 26px;
  }
  .services .flex,
  .cooperation .flex {
    flex-direction: column;
    align-items: center;
  }
  .services__box {
    width: 100%;
    padding: 100px 50px;
  }
  .box__content {
    padding: 40px 20px;
  }
  .cooperation__box {
    width: 100%;
    margin-bottom: 40px;
  }
  .cooperation__box__heading {
    margin-bottom: 20px;
  }
  .header {
    background: linear-gradient(90deg, #fff calc(46% + 100px), #326e91 26%);
  }
  .footer__data {
    flex-direction: column;
  }
  .footer__author .container {
    flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .references__carousel {
    padding: 0 15px;
  }
  .benefits__carousel {
    flex-direction: column;
  }
  .benefits__image {
    max-width: 100%;
  }
  .benefits__number {
    display: none;
  }
  .benefits__description {
    position: static;
    top: 0;
    right: 0px;
    width: 100%;
    margin-top: 20px;
  }
  #benefits__owl .owl-nav {
    right: 0;
    bottom: 19%;
    height: auto;
  }
  #benefits__owl .owl-prev,
  #benefits__owl .owl-next {
    width: 50px;
    height: 50px;
    margin: 0;
  }
  #benefits__owl .line {
    height: 40px;
    transform: translateY(-20%);
  }
  .form__flex {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .form__group--1, .form__group--2 {
    width: 100%;
  }
}
@media (min-width: 1800px) {
  .header {
    background: linear-gradient(90deg, #fff calc(34% + 100px), #326e91 26%);
  }
}
